.header-nav {
  background-color: #1E2E50;
}

.title-app {
  color: aliceblue;
}

.links {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}

.sticky-top-header {
  position: sticky;
  top: 0;
  z-index: 500;
}

.header-icon {
  font-size: 1.5em;
}

.header-button {
  margin: 0px 3px;
  width: 100%;
  color: var(--softColor);
  border-radius: 5px;
}

.header-button:hover {
  color: var(--mediumColor);
}
