<div class="container-fluid">
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h1 *ngIf="!isFormActive">Lista de Doctores</h1>
      <h1 *ngIf="isFormActive">Formulario de Doctores</h1>
    </div>
  </div>

  <!-- Lista de Pacientes -->
  <div class="col-lg-12" *ngIf="!isFormActive">
    <div class="row">
      <div class="col-12 col-lg-6 p-0">
        <button mat-stroked-button color="primary" (click)="addDoctor()">
          <span class="material-icons">add</span>
          Agregar
        </button>
      </div>
      <div class="col-12 col-lg-6 p-0">
        <mat-form-field class="w-100">
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="..." #input autocomplete="off" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="w-100 mat-elevation-z8">
        <table mat-table style="width: 100%" [dataSource]="this.dataSource" matSort>
          <ng-container matColumnDef="name">
            <th style="padding: 5px 10px;" mat-header-cell *matHeaderCellDef> Nombre.</th>
            <td style="padding: 5px 10px;" mat-cell *matCellDef="let item"> {{item.name}} </td>
          </ng-container>
          <ng-container matColumnDef="lastname">
            <th style="padding: 5px 10px;" mat-header-cell *matHeaderCellDef> Apellido.</th>
            <td style="padding: 5px 10px;" mat-cell *matCellDef="let item"> {{item.lastname}} </td>
          </ng-container>
          <ng-container matColumnDef="birthdate">
            <th style="padding: 5px 10px;" mat-header-cell *matHeaderCellDef> Fecha de Nacimiento.</th>
            <td style="padding: 5px 10px;" mat-cell *matCellDef="let item"> {{item.birthdate}} </td>
          </ng-container>
          <ng-container matColumnDef="address">
            <th style="padding: 5px 10px;" mat-header-cell *matHeaderCellDef> Dirección.</th>
            <td style="padding: 5px 10px;" mat-cell *matCellDef="let item"> {{item.address}} </td>
          </ng-container>
          <ng-container matColumnDef="speciality">
            <th style="padding: 5px 10px;" mat-header-cell *matHeaderCellDef> Especialidad.</th>
            <td style="padding: 5px 10px;" mat-cell *matCellDef="let item"> {{item.speciality}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th style="padding: 5px 10px;" mat-header-cell *matHeaderCellDef> Acciones.</th>
            <td style="padding: 5px 10px;" mat-cell *matCellDef="let item">
              <button mat-icon-button matTooltip="Editar" aria-label="Editar">
                <mat-icon (click)="editDoctor(item)" color="primary">edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Eliminar" aria-label="Eliminar">
                <mat-icon color="warn" (click)="deleteDoctor(item)">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron resultados para: "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [length]="this.doctors.length"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100, 200]"
                       (page)="onPageEvent($event)" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>

  <!-- Formulario de Usuarios -->
  <div class="col-lg-12" *ngIf="isFormActive">
    <div class="row">
      <button mat-stroked-button color="warn" (click)="backToList()">
        <span class="material-icons">keyboard_arrow_left</span>
        Volver
      </button>
    </div>
    <br>
    <div class="row">
      <form class="w-100" [formGroup]="doctorForm" (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="..." formControlName="name" #name maxlength="255" autofocus>
              <mat-hint align="end">{{name.value.length}} / 255</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Apellido</mat-label>
              <input matInput placeholder="..." formControlName="lastname" #lastname maxlength="255">
              <mat-hint align="end">{{lastname.value.length}} / 255</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input [disabled]="isEditing" matInput formControlName="birthdate" #birthdate [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="..." formControlName="address" #address maxlength="255">
              <mat-hint align="end">{{address.value.length}} / 255</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Especialidad</mat-label>
              <input matInput placeholder="..." formControlName="speciality" #speciality maxlength="255">
              <mat-hint align="end">{{speciality.value.length}} / 255</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-lg-right">
            <br>
            <button type="submit" mat-stroked-button color="primary">
              <span class="material-icons">save</span>
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="loading" *ngIf="spinner">
    <mat-spinner></mat-spinner>
  </div>

</div>





